@namespace SGE.UI.Components
@using SGE.Aplicacion.CasosDeUso.Expediente
@using SGE.Aplicacion.Entidades
@using SGE.UI
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteAlta expAlta
@inject CasoDeUsoExpedienteBaja expBaja
@inject CasoDeUsoExpedienteConsultaTodos expConsultaTodos
@inject CasoDeUsoExpedienteModificacion expModificacion
@page "/expedientes/{usuario}"

<h3>expedientes</h3>

@if (!string.IsNullOrEmpty(idUsuario))
{
    Navigation.NavigateTo("/login");
}
else if (!hayExpedientes)
{
    <p>no hay expedeintes</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Carátula</th>
                <th>Fecha de Creación</th>
                <th>Última Modificación</th>
                <th>Usuario Última Modificación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (puedeVer)
                {
                    @foreach (Expediente? expediente in expedientes)
                    {
                        if (expediente != null)
                        {
                            <td>@expediente.Id</td>
                            <td>@expediente.Caratula</td>
                            <td>@expediente.FechaCreacion</td>
                            <td>@expediente.UltimaModificacion</td>
                            <td>@expediente.IdUsuario</td>
                            <td>@expediente.Estado</td>
                            <td><button @onclick="()=>VerTramites(expediente)">Ver Expedientes Asociados</button></td>
                            <td>
                                @if (puedeEditar)
                                {
                                    <button @onclick="EditarOk">Editar</button>
                                    <input @bind="@expediente.Caratula" placeholder="caratula" />

                                    @if (puedeEliminar)
                                    {
                                        <button>Eliminar</button>
                                    }
                                }
                            </td>
                        }
                    }
                }

            </tr>
        </tbody>
    </table>
    @if (!puedeVer)
    {
        <p>no tienes los permisos suficientes</p>
    }
}

@code {
    [Parameter]
    public string? idUsuario { get; set; }
    private bool hayExpedientes = true;
    private bool puedeVer = true;
    private bool puedeEditar = true;
    private bool puedeEliminar = true;
    private bool editarOk = false;
    private List<Expediente>? expedientes { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //cambiar idUsuario a int y hacer una busqueda por id en el repositorio de usuarios para obtener los permisos
        //cambiar los permisos dependiendo de que es lo que pueda hacer el usuario
        expedientes = expConsultaTodos.Ejecutar();
    }
    private void VerTramites(Expediente expe)
    {
        //buscar si existen tramites
        //si no hay tramites asociados hacer un popUp de un msj "no hay tramites asociados al expediente con id x"
        Navigation.NavigateTo($"/tramite/{expe.Id}");
    }
    private void EditarOk()
    {
        editarOk = !editarOk;
    }
}
