@namespace SGE.UI.Components
@using SGE.Aplicacion.CasosDeUso.Expediente
@using SGE.Aplicacion.Entidades
@using SGE.UI
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteAlta expAlta
@inject CasoDeUsoExpedienteBaja expBaja
@inject EstadoDeUsuario EstadoDeUsuario
@inject CasoDeUsoExpedienteConsultaTodos expConsultaTodos

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Carátula</th>
            <th>Fecha de Creación</th>
            <th>Última Modificación</th>
            <th>Usuario Última Modificación</th>
            <th>Estado</th>
            <th>Tramites</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Expediente? expediente in Expe)
        {
            <tr>
                @if (expediente != null)
                {
                    <td>@expediente.Id</td>
                    <td>@expediente.Caratula</td>
                    <td>@expediente.FechaCreacion</td>
                    <td>@expediente.UltimaModificacion</td>
                    <td>@expediente.IdUsuario</td>
                    <td>@expediente.Estado</td>
                    <td><button>ver tramites relacionados</button></td>
                    <td>
                    @if (puedeEditar)
                    {
                        <button @onclick="EditarOk">Editar</button>
                        <PopUpEditar @ref=popUpEditar Mensaje="desea editar expediente" Edit=@expediente />
                        @if (puedeEliminar)
                        {
                            <button>Eliminar</button>
                        }
                    }
                    </td>
                }
            </tr>
        }


    </tbody>
</table>

@code {
    [Parameter]
    public List<Expediente>? Expe { get; set; }
    private bool puedeEditar = true;
    private bool puedeEliminar = true;
    PopUpEditar popUpEditar = null!;
    protected override async Task OnInitializedAsync(){
        puedeEliminar = EstadoDeUsuario.usuario.Permisos.Any(p => p.Nombre.Equals("EXPEDIENTE_BAJA"));
        puedeEditar = EstadoDeUsuario.usuario.Permisos.Any(p => p.Nombre.Equals("EXPEDIENTE_MODIFICACION"));
    }
    private void EditarOk()
    {
        popUpEditar.Mostrar();
    }
}
